#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/prometheus-cvmfs-exporter

override_dh_auto_build:
	# Nothing to build - this is a shell script package

override_dh_auto_test:
	# Skip tests for now

override_dh_install:
	dh_install
